html {
   scroll-behavior: smooth;
}
body {
   font-family: "Geologica", sans-serif;
   max-width: 100vw;
   overflow-x: hidden;
   /* background-color: #494947; */
   background-color: #fffcff;
   /* background: linear-gradient(to bottom, #494947 30%, #fff 30%); */
}
.container {
   margin-left: 30vw;
   max-width: 70vw;
}
@media screen and (max-width: 768px) {
   .container {
      margin-left: 0vw;
      max-width: 100vw;
   }
}
/* menu */
#menu {
   width: 27.92vw;
   border-right: 1px solid #e5e5e5;
   height: 96.3vh;
   position: fixed;
   padding: 1.85vh 1.04vw;
}
#menu #toggle {
   display: none;
}
#menu .menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.menu #logo {
   width: 201px;
   margin-bottom: 4vh;
}
.menu .navigation {
   display: flex;
   flex-direction: column;
}
.menu .navigation a {
   text-decoration: none;
   display: flex;
   flex-direction: row;
   gap: 5%;
   margin-bottom: 4vh;
   font-size: 18px;
   color: #000;
   font-weight: 400;
   align-items: center;
}
.menu .navigation a img {
   width: 24px;
   aspect-ratio: 1;
}
.menu .navigation #new-chat {
   display: flex;
   width: 100%;
   background-color: #f2f2f2;
   border-radius: 25px;
   border: none;
   font-family: "Geologica", sans-serif;
   justify-content: center;
   padding: 15px;
   font-size: 18px;
   margin-top: 1.5vh;
}
.menu .account{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.account .avatar{
  display: flex;
  flex-direction: row;
  gap: 15%;
  align-items: center;
}
.account .avatar img{
  width: 42px;
  aspect-ratio: 1;
}
.account .avatar p{
  font-size: 20px;
  font-weight: 400;
}
.account .dots{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.dots .dot{
  background-color: #000;
  border-radius: 100%;
  width: 6px;
  aspect-ratio: 1;
}
@media screen and (max-width: 768px) {
   #menu {
      width: 90%;
      border-right: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
   }
   #menu #toggle {
      display: flex;
      background-color: transparent;
      border: none;
   }
}
