html {
   scroll-behavior: smooth;
}
body {
   font-family: "Geologica", sans-serif;
   max-width: 100vw;
   overflow-x: hidden;
   /* background-color: #494947; */
   background-color: #fffcff;
   /* background: linear-gradient(to bottom, #494947 30%, #fff 30%); */
}
.container {
   margin-left: 19vw;
   max-width: 80vw;
}
@media screen and (max-width: 768px) {
   .container {
      margin-left: 0vw;
      max-width: 100vw;
   }
}
/* menu */
#menu {
   width: 16.5vw;
   border-right: 1px solid #e5e5e5;
   height: 96.3vh;
   position: fixed;
   padding: 1.85vh 1.04vw;
}
#menu #toggle {
   display: none;
}
#menu .menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.menu #logo {
   width: 201px;
   margin-bottom: 4vh;
}
.menu .navigation {
   display: flex;
   flex-direction: column;
}
.menu .navigation a {
   text-decoration: none;
   display: flex;
   flex-direction: row;
   gap: 5%;
   margin-bottom: 4vh;
   font-size: 18px;
   color: #000;
   font-weight: 400;
   align-items: center;
}
.menu .navigation a img {
   width: 24px;
   aspect-ratio: 1;
}
.menu .navigation #new-chat {
   display: flex;
   width: 100%;
   background-color: #f2f2f2;
   border-radius: 25px;
   border: none;
   font-family: "Geologica", sans-serif;
   justify-content: center;
   padding: 15px;
   font-size: 18px;
   margin-top: 1.5vh;
}
.menu .account {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.account .avatar {
   display: flex;
   flex-direction: row;
   gap: 15%;
   align-items: center;
}
.account .avatar img {
   width: 42px;
   aspect-ratio: 1;
}
.account .avatar p {
   font-size: 20px;
   font-weight: 400;
}
.account .dots {
   display: flex;
   flex-direction: row;
   gap: 8px;
}
.dots .dot {
   background-color: #000;
   border-radius: 100%;
   width: 6px;
   aspect-ratio: 1;
}
@media screen and (max-width: 768px) {
   #menu {
      width: 90%;
      border-right: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
   }
   #menu #toggle {
      display: flex;
      background-color: transparent;
      border: none;
   }
   #menu .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }
   .menu #logo {
      width: 201px;
      margin-bottom: 4vh;
   }
   .menu .navigation {
      display: flex;
      flex-direction: column;
   }
   .menu .navigation a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      gap: 5%;
      margin-bottom: 4vh;
      font-size: 18px;
      color: #000;
      font-weight: 400;
      align-items: center;
   }
   .menu .navigation a img {
      width: 24px;
      aspect-ratio: 1;
   }
   .menu .navigation #new-chat {
      display: flex;
      width: 100%;
      background-color: #f2f2f2;
      border-radius: 25px;
      border: none;
      font-family: "Geologica", sans-serif;
      justify-content: center;
      padding: 15px;
      font-size: 18px;
      margin-top: 1.5vh;
   }
   .account .avatar {
      gap: 8%;
   }
   .account .avatar img {
      width: 32px;
   }
   .account .avatar p {
      font-size: 14px;
   }
   .account .dots {
      gap: 4px;
   }
   .dots .dot {
      width: 4px;
   }
}

/* dropdown */
#dropdown .container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:flex-start;
   padding-top: 3vh;
}
#dropdown .dropdown-toggle{
   font-size: 22px;
   font-weight: 500;
   font-family: "Geologica", sans-serif;
   background-color: transparent;
   border: none;
   display: flex;
   gap: 10px;
   align-items: center;
   cursor: pointer;
}
/* #dropdowm .dropdown-toggle img{
   transition: .5s;
} */
/* #dropdown .dropdown-toggle:hover img{
   transform: translateY(2px);
} */
#dropdown ul li{
   font-size: 16px;
   font-weight: 400;
   font-family: "Geologica", sans-serif;
   background-color: transparent;
   cursor: pointer; 
   transition: .1s; 
}
#dropdown ul li:hover{
   transform: scale(1.02);  
}
#dropdown .actions{
   display: flex;
   flex-direction: row;
   gap: 15px;
   align-items: center;
}
#dropdown .actions button{
   background-color: transparent;
   border: 1px solid #d9d9d9;
   border-radius: 25px;
   font-size: 14px;
   font-family: 'Geologica', sans-serif;
   font-weight: 400;
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 7.5px 15px;
   transition: .2s;
}
#dropdown .actions button:hover{
   background-color: #fce9fd;
   cursor: pointer;
}
#dropdown .actions button img{
   width: 16px;
   aspect-ratio: 1;
}